
.all{
    
    color: white;
}

.modal{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns:20% 20% 20% 20% 20%;
    text-align: center;
    padding-right: 6rem;
    padding-top: 3rem;
    padding-left: 4rem;

    min-width: 1320px;
}

.chosepage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 50px;

    p {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
        font-weight: 600;
    }

    button {
        color: white;
        background-color: rgb(1, 3, 61);
        border-radius: 20px;
        border: 4px black outset;
        width: 180px;
        height: 40px;
        cursor: pointer;
        font-size: 15px;
        font-weight: bold;
        transition-duration: 1s;
    }

    button:hover{
        background-color: rgb(0, 0, 0);
        transform: translateY(-5px);
        width: 183px;
        height: 42px;
        transition-duration: 1s;
    }
}
.search {
    padding-left: 30px;
    padding-top: 20px;
    input {
        margin-top: 20px;
        font-size: 20px;
        border-radius: 20px;
        box-shadow: 3px 4px 5px black;
        border: gray 2px outset;
        background-color: darkgray;
        color: white;
        padding: 10px;
        margin-right: 20px;
    }

    button{
        margin-top: 20px;
        font-size: 20px;
        border-radius: 20px;
        color: white;
        background-color: rgb(1, 3, 61); 
        border: 4px black outset;
        width: 180px;
        height: 40px;
        cursor: pointer;
        font-size: 15px;
        font-weight: bold;
        transition-duration: 1.5s;
    }
    button:hover{
        background-color: rgb(0, 0, 0);
        transform: translateX(15px);
        width: 190px;
        height: 45px;
        transition-duration: 1.5s;
    }

}

@media only screen and (max-width: 600px){
    .modal{
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 30% ;
        text-align: center;
        background-image: linear-gradient(to bottom, rgba(1, 1, 1, 0.971), rgba(0, 0, 0, 0.848));
        width: 100%;
    }

    .chosepage{
        background-image: linear-gradient(to bottom, rgba(1, 1, 1, 0.971), rgba(0, 0, 0, 0.848));
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        padding: 20px 10px;
    }
    
}