.character {

        &__info{ 
            width: 300px;
            height: 100%;
            border: inset gray 2px;
            border-radius: 20px;
            margin-bottom: 20px;
            background-color: gray;

        
            p{
                padding-top: 10px;
                padding-left: 30px;
                padding-bottom: 10px;
                text-align: justify;
            }

            img{
                width: 260px;
                height: 300px;
                margin-top: 20px;
                transition-duration: 1s;
            }
            img:hover{
                box-shadow: 10px 10px 5px 5px rgb(105, 102, 102);
                width: 290px;
                height: 310px;
                transition-duration: 1s;
            }
        }
}
